$section-padding-sides-mobile: 25px;
$section-padding-sides-tablet: 50px;
$section-padding-top-mobile: 50px;
$section-padding-bottom-mobile: 70px;

.section {
    padding: $section-padding-top-mobile $section-padding-sides-mobile $section-padding-bottom-mobile;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    position: relative;

    &__heading {
        text-align: center;
        margin-bottom: 1.5em;
    }

    &__content {
        max-width: 800px;
        margin: 0 auto;
    }

    &__overlay {
        background-color: rgba($grey-dark, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity 30ms ease-in;
        pointer-events: none;
    }

    @include tablet {
        padding-left: $section-padding-sides-tablet;
        padding-right: $section-padding-sides-tablet;
    }
}

// m#{a}x() is a hacky workaround until sass supports native min() and max()
@supports(padding: m#{a}x(0px)) {
    .section {
        padding-top: m#{a}x($section-padding-top-mobile, env(safe-area-inset-top));
        padding-right: m#{a}x($section-padding-sides-mobile, env(safe-area-inset-right));
        padding-bottom: m#{a}x($section-padding-bottom-mobile, env(safe-area-inset-bottom));
        padding-left: m#{a}x($section-padding-sides-mobile, env(safe-area-inset-left));
    }

    @include tablet {
        .section {
            padding-left: m#{a}x($section-padding-sides-tablet, env(safe-area-inset-left));
            padding-right: m#{a}x($section-padding-sides-tablet, env(safe-area-inset-right));
        }
    }
}
